# App
PORT=4000

NODE_ENV="development"

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000/api/auth/

# Database
DB_URL=postgresql://mili:password@localhost:5432/mili
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=
DB_USER=mili
DB_NAME=mili

# App
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=

# S3 
S3_USER=
S3_PASSWORD=
S3_PORT=9000
S3_ADMIN_PORT=9001
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=uploads
