.wrapper{
    a {
        color: #60c9fb;
        text-decoration: underline;
    }
    &>div{
        outline: none;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        min-height: 300px;

    }
    ol, ul{
        padding-inline-start: 30px;
    }
    ol{
        list-style: decimal;
    }
    ul{
        list-style: disc;
    }
    div[data-node=image]{
        &:has([data-align=center]){
            justify-content: center;
        }
          &:has([data-align=right]){
            justify-content: right;
        }
        &:has([data-align=left]){
            justify-content: left;
        }
        
    }
    div[data-resize-handle]{
        width: 10px;
        height: 30px;
        background-color: burlywood;
    }
}
