@import "tailwindcss";

@theme inline {
  --color-*: initial;
  --color-primary-25: var(--primary-25);
  --color-primary-900: var(--primary-900);
  --color-secondary-500: var(--secondary-500);
  --color-white: var(--white);
  --color-black: var(--black);
  --font-display: var(--font-display);

  --color-error:var(--error);
  --color-warning:var(--warning);
  --color-success:var(--success);
  --shadow-lg-gray:0px 0px 30px -8px #0000002E;

}
:root {
  --primary-25: #fbfbfb;
  --primary-900: #66605E;
  --secondary-500:#3A6EA5;
  --white: #ffffff;
  --black: #000000;
  --error:#FF4949;
  --success:#13CE66;
  --warning:#FFCC3D;
}

@layer base {
  body {
    @apply bg-primary-25 font-display font-medium text-primary-900;
  }
  a,
  button{
    @apply cursor-pointer
  }
}

@utility container {
  @apply mx-auto px-3 md:px-4;
}

@utility center {
  @apply flex items-center justify-center;
}
