@import "tailwindcss";

@theme inline {
  --color-*: initial;
  --color-primary-25: var(--primary-25);
  --color-primary-900: var(--primary-900);
  --color-secondary-500: var(--secondary-500);
  --color-thready-800: var(--thready-800);
  --color-thready-400: var(--thready-400);
  --color-thready-500: var(--thready-500);
  --color-white: var(--white);
  --color-black: var(--black);
  --font-display: var(--font-display);

  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --shadow-lg-gray: 0px 0px 30px -8px #0000002e;
  --radius-4xl: 28px;
  --radius-5xl: 32px;
  --radius-6xl: 42px;
--color-gray-900:var(--gray-900);
--color-gray-800:var(--gray-800);
--color-gray-700:var(--gray-700);
--color-gray-600:var(--gray-600);
--color-gray-500:var(--gray-500);
--color-gray-400:var(--gray-400);
--color-gray-300:var(--gray-300);
--color-gray-200:var(--gray-200);
--color-gray-100:var(--gray-100);
--color-gray-50:var(--gray-50);
--color-gray-25:var(--gray-25);
}
:root {
  --primary-25: #fbfbfb;
  --primary-900: #66605e;
  --secondary-500: #3a6ea5;
  --thready-800:#A18F7E;
  --thready-400:#E3DDD8;
  --thready-500:#EFE8E2;
  --white: #ffffff;
  --black: #000000;
  --error: #ff4949;
  --success: #13ce66;
  --warning: #ffcc3d;


--gray-900: #1A1A1A;
--gray-800: #1E1E1E;
--gray-700: #222222;
--gray-600: #232323;
--gray-500: #2B2B2B;
--gray-400: #555555;
--gray-300: #808080;
--gray-200: #AAAAAA;
--gray-100: #BFBFBF;
--gray-50: #D5D5D5;
--gray-25: #EAEAEA;

}

@layer base {
  body {
    @apply bg-primary-25 font-display font-medium text-primary-900;
  }
  a,
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .mega-menu-wrapper:has(.product-nav-trigger:hover) .mega-menu {
    @apply !visible !h-max !pointer-events-auto !opacity-100 !translate-y-0 !z-10;
  }
}

@utility container {
  @apply mx-auto px-3 md:px-4;
}

@utility center {
  @apply flex items-center justify-center;
}
